/* displayVote.css */
[class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
}
.thumb[class^=col-] {
    border: none;
    text-align: center;
}
.row {
    margin-bottom: 30px;
}