.tieable div.kem-item {
  border: 1px solid #CCC;
  background: rgba(246, 246, 246, 0.95);
  line-height: 98px;
  height: 100px;
  text-align: center;
}

.tieable div.thumb {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width:768px) {
  .tieable div.thumb {
    background-color: transparent;
  }
}

.tieable div.thumb img {
  height: 100px;
}

.tieable {
  min-height: 35px;
}

ul.first:empty, ul.last:empty {
  border: 1px dashed #CCC;
}

ul {
  padding: 0;
}

div.kem-rank {
  margin-bottom: 60px;
}

.row, div.kem-rank:last-child {
  margin-bottom: 10px;
}

.tieable:before,
.tieable:after {
  content:"";
  display:table;
}
.tieable:after {
  clear:both;
}

.row.vote, .kem-rank:first-child {
  background: transparent url("../images/like_large.png") no-repeat right top;
}
