.tieable li {
  list-style: none;
  border: 1px solid #CCC;
  background: rgba(246, 246, 246, 0.95);
  line-height: 98px;
  height: 100px;
  text-align: center;
}

.tieable li.thumb {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width:768px) {
  .tieable li.thumb {
    background-color: transparent;
  }
}

.tieable li.thumb img {
  height: 100px;
}

.tieable {
  min-height: 35px;
}

ul.first:empty, ul.last:empty {
  border: 1px dashed #CCC;
}

ul {
  padding: 0;
}

.row {
  margin-bottom: 10px;
}

.tieable:before,
.tieable:after {
  content:"";
  display:table;
}
.tieable:after {
  clear:both;
}

.row.vote {
  background: transparent url("../images/like_large.png") no-repeat right top;
}